includeConfig 'external-modules/spark/nextflow.config'

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_rtx'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }
        }

        docker.enabled = false

        singularity.enabled = true
    }

    localdocker {
        docker.enabled = true
        singularity.enabled = false
    }
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "--nv ${params.runtime_opts}"
}
