includeConfig 'external-modules/spark/nextflow.config'

params {
    lsf_opts = ''
    runtime_opts = ''
    singularity_cache_dir = "$HOME/.singularity_cache"
    vmf = '-B' // volume mounting flag
}

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    lsf {
        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: withGPU {
                queue = 'gpu_rtx'
                clusterOptions = '-gpu "num=1" ' + params.lsf_opts
            }

            withLabel: preferLocal {
                executor = 'local'
            }
        }

        docker.enabled = false

        singularity.enabled = true
    }

    localdocker {
        docker.enabled = true
        singularity.enabled = false
        params.vmf = '-v'
    }
}

singularity {
    autoMounts = true
    cacheDir = "${params.singularity_cache_dir}"
    runOptions = "--nv -e --env \"USER=$USER\" ${params.runtime_opts}"
}
